@{
    ViewData["Title"] = "Cerrar Sesión";
}

<h1>Cerrar Sesión</h1>

<div>
    <p>Has cerrado sesión correctamente.</p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Volver al Inicio</a>
</div>