@model AgenciaDeTransporteWeb.Models.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Ocurrió un error al procesar tu solicitud.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID de la solicitud:</strong> <code>@Model.RequestId</code>
    </p>
}

<p>
    Por favor, intenta de nuevo o contacta con el soporte.
</p>