@{
    ViewData["Title"] = "Política de Privacidad";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>Estamos comprometidos con proteger tu privacidad. Contacta con nosotros para más información.</p>
</div>